@import "https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
#Recibido {
  text-align: center;
  padding-top: 70px; }

.ClaseForm {
  text-align: center;
  position: relative;
  top: 200px; }
  .ClaseForm .claseform input[type=text] {
    width: 12%;
    padding: 5px;
    margin-right: 10px; }
    .ClaseForm .claseform input[type=text] input[type=email] {
      width: 12%;
      padding: 5px; }
    .ClaseForm .claseform input[type=text] input[type=submit] {
      width: 12%;
      padding: 10px;
      margin-right: 10px; }
    .ClaseForm .claseform input[type=text] input[type=reset] {
      width: 12%;
      padding: 10px; }

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 100%; }

.logoFont {
  font-family: "Merriweather", sans-serif;
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: -2px;
  font-weight: bolder; }

.nav-link {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  color: white; }
  .nav-link:hover {
    border-bottom: 1px solid white;
    padding-bottom: 3px; }

.heading {
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  margin-top: 30px; }

.ingresos {
  text-align: center;
  margin-top: 40px;
  font-weight: bold;
  font-size: 3rem; }

#ClaseFooter {
  background-color: black;
  bottom: 0;
  width: 100%;
  text-align: center; }
  #ClaseFooter h5 {
    font-size: 1.3rem;
    display: inline-block;
    padding: 20px;
    color: white; }
    #ClaseFooter h5 a {
      color: white; }

.thumbnail {
  position: relative; }

.caption {
  position: absolute;
  top: 1.25rem;
  left: 2.1875rem; }
  .caption h2 {
    font-weight: bolder;
    font-style: italic;
    color: rgba(255, 255, 255, 0.3);
    font-size: 2.9rem; }

.imgHome {
  position: relative; }

.imgText {
  position: absolute;
  top: 1.25rem;
  left: 75%; }
  .imgText h2 {
    font-weight: bolder;
    font-style: italic;
    color: rgba(255, 255, 255, 0.3);
    font-size: 2.9rem; }

.Foto {
  margin: 20px;
  max-height: 300px; }
  .Foto:hover {
    transform: scale(1.1);
    transition: 0.3s; }

.Item {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px; }
  .Item h5 {
    font-size: 1.5rem; }
