@import "form";
@import "variables";
@import "https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
	margin: 0;
	padding: 0;
	font-family: $fuente;
	font-weight: 600;
	font-size: 100%;
}

.logoFont {
	font-family: $fuenteLogo;
	font-size: 2rem;
	margin-bottom: 0;
	letter-spacing: -2px;
	font-weight: bolder;
}

.homeContainer {
	position: relative;
	img {
		max-height: 2000px;
	}
	h2{
		color: #fff;
		font-size: 2.5vw;
		font-weight: bolder;
		position: absolute;
		top: 63%;
		left: 3%;
	}
	.btnComprar {
		position: absolute;
		font-weight: bold;
		font-size: 1vw;
		top: 73%;
		left: 3%;
		padding: 0.5vw 1vw;
	}

}

.btnFotos {
	position: relative;
	font-weight: bold;
	font-size: 1rem;
	top: 73%;
	left: 50px;
	padding: 0.5vw 1vw;
	min-width: 100px;
	min-height: 20px;
}

.womenText {
	position: absolute;
		top: 40%;
		left: 20%;
		transform: translate(-50% , -50%);
		-webkit-transform: translate(-50%, -50%);
	h2 {
		color: #fff;
		font-size: 2.5vw;
		font-weight: bolder;
		font-style: italic;
	}
}

.shoesText {
	position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50% , -50%);
		-webkit-transform: translate(-50%, -50%);
	h2 {
		color: #fff;
		font-size: 2.5vw;
		font-weight: bolder;
		font-style: italic;
		text-align: center;
	}
}
header {
	position: absolute;

	button {
		position: relative;
	}
}

.textContainer {
	top: 30%;
	left: 14%;
	transform: translate(-50% , -50%);
	-webkit-transform: translate(-50%, -50%);
	position: absolute;
	h2{
		color: #000;
		font-size: 3vw;
		font-weight: bolder;
		font-style: italic;
		letter-spacing: 2px;
		text-align:center;
	}
}

@media only screen and (max-width: 1000px) {
	.imgContainer {
	  display: none;
  }
  header{
	  position:relative;
	  background-color: #000;
  }
  .heading {
	  text-align: center;
	  margin-left: 0px !important;
  }
  .jumbotron {
	  margin: 0px !important;
  }
}
.nav-link {
	font-weight: bold;
	font-size: 1.1rem;
	text-decoration: none;
	color: white;
	&:hover {
		border-bottom: 1px solid white;
		padding-bottom: 3px;
	}
}

.heading {
	font-weight: bolder;
	margin-left: 70px;
	font-style: italic;
	font-size: 1.7rem;
	margin-top: 30px;
}

.headingDesfile {
	font-weight: bolder;
	font-style: italic;
	font-size: 3vw;
	padding-top: 100px;
	text-align:center;
	color: #fff;
}


.Foto {
	max-height: 270px;
}

.Item {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 30px;
	h5 {
		font-size: 1.3rem;
		margin-top: 5px;
		font-weight: bold;
	}
	&:hover {
		transform: scale(1.1);
		transition: 0.3s;
	}
}

.footerAlamode{
	background-color: black;
}

.textoBlanco {
	color: white;
	h5{ 
	margin-top: 30px;
	font-weight: bold;
	}
	h2 {
		margin-top: 30px;
		font-weight: bolder;
		font-family: $fuenteLogo;
	}
	a {
		margin-top: 30px;
		text-decoration: none;
		color: white;
	}
}

.jumbotron {
	background-image: url('../img/fotoDesfile.jpg');
	background-size: cover;
	h2 {
		text-align: left;
		font-size: 2rem;
		margin-left: 50px;
		color: #fff;
		font-weight: bolder;
	}
	p{
		text-align: left;
		font-size: 1.5rem;
		font-weight: bold;
		margin-left: 50px;
		color: #fff;
	}
}

.tz-gallery {
	padding: 20px;
    padding-top: 70px;
}

.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}